<div class="container" style="padding: 5%;">
  <div class="row justify-content-center align-items-center">
      <h2><%= @ad.title %></h2>
  </div>
  <div class="row float-right">
    <% if current_user && current_user.ads.ids.include?(@ad.id) %>
      <%= link_to 'Destroy', ad_path(@ad), method: :delete, class: "btn btn-warning" %>
      <%= link_to 'Edit', edit_ad_path(@ad), class: "btn btn-primary" if @ad.state == ('draft' || 'archived' || 'rejected')%>
    <% elsif current_user && current_user.role == 'admin' %>
      <%= link_to 'Destroy', ad_path(@ad), method: :delete, class: "btn btn-warning" %>
    <% end %>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-md-auto" style="padding-bottom: 5px">
      <p><%= @ad.body %></p>
    </div>
    <% if @ad.image? %>
      <div class="col-md-auto" style="padding-bottom: 5%">
        <img src=<%= @ad.image.url %> class="d-block w-100" alt="image">
      </div>
    <% end %>
  </div>
</div>
