<div class="container">
  <div class="row align-items-center flex-column">
    <h2>My profile</h2>
    <div class="col-md-auto">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Nickname</span>
        </div>
        <input type="text" aria-label="Default" value="<%= @user.nickname %>">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Full name</span>
        </div>
        <input type="text" aria-label="Default" value="<%= @user.full_name %>">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        </div>
        <input type="text" aria-label="Default" value="<%= @user.email %>">
      </div>
    </div>
  </div>
  <div class="list-group">
    <% @user.ads.each do |ad| %>
        <a href='/ads/<%=ad.id %>' class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= ad.title %></h5>
            <middle><%= badge_by_state(ad) %></middle>
          </div>
        </a>
    <% end %>
  </div>
</div>
